.wrapper,
article,
.breadcrumb {
	max-width: $full-width;
	margin: 0 auto;
	box-sizing: border-box;
}
.row {
	@extend %clearfix;
}
.row > .box {
	float: left;
	box-sizing: border-box;
}

@mixin grid($items, $gutter) {

	$half-gutter: $gutter / 2;

	.wrapper {
		padding-left: $half-gutter;
		padding-right: $half-gutter;
	}

	.row {
		@extend %clearfix;
		margin-right: -$half-gutter;
		margin-left: -$half-gutter;
	}

	.row > .box {
		$w: 100% / $items;
		margin-right: $half-gutter;
		margin-bottom: 30px;
		margin-left: $half-gutter;
		width: calc(#{$w} - #{$gutter});
	}
}
